<h1>Game of Tweets</h1>

<p>This is a web application that allows you to read tweets from your favorite Game of Thrones characters! Tune in to see what they have to say!</p>

<%= link_to 'View Tweets', tweets_path %>
