// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  text-align: center;
  background-image: url("http://i.imgur.com/CWG9cBx.jpg");
  background-size: cover;
}

p {
  font-size: 20px;
  padding: 20px 400px 0px 400px;
}
